.item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--rose-100);
  font-size: 0.75rem;
}

.thb {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 5px;
}

.info {
  flex-grow: 1;
}

.name {
  font-weight: 600;
  color: var(--rose-500);
  margin-bottom: 5px;
}

.quantity {
  font-weight: 600;
  color: var(--red);
}

.o_info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.total {
  font-size: 1rem;
  font-weight: 600;
  color: var(--rose-500);
}
